/*General*/

body
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, a, p
{
    font-size: 0.8em;
    margin: 0;
}

#bloc_page
{
    margin: 0 40px 0 40px;
 
}

a
{
    text-decoration: none;
    color: black;
}

.all_img
{
    object-fit: cover;
}

/*--------------------------------------*/

/*Header*/

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#logo 
{
    width: 100px;
    height: auto;
}

#bloc_nav_inscription
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header li
{
    list-style: none;
}

header ul
{
    display: flex;
    padding: 0;
}

.main_nav
{
    margin-right: 15px;
    padding: 25px 25px 0 20px;
}

.main_nav:hover
{
    color: #0065FC;
    border-top: solid 2px #0065FC;
}

#inscription
{
    color: #0065FC;
    font-weight: bold;
    padding-left: 30px;
    margin-right: 10px;
    font-size: 12.8px;
}

/*--------------------------------------*/

/*Ligne champ de recherche*/

h1
{
    margin-bottom: 5px;
}

#bloc_recherche
{
    display: flex;
    margin: 20px 0;
}

#icone_localisation
{
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

#champ_recherche
{
    border: #F2F2F2 solid 1px;
    padding: 10px;
    padding-left: 15px;
}

#bouton_rechercher
{
    background-color: #0065FC;
    border: #F2F2F2 solid 1px;
    color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}

#loupe_img
{
    background-color: #0065FC;
    border: #F2F2F2 solid 1px;
    color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    display: none;
}

#info_logement
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#info
{
    color: #0065FC;
    font-size: 0.8em;
    padding: 5px 10px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 10px;
}

/*--------------------------------------*/

/*Navigation filtre*/

#bloc_filtre
{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

#bloc_filtre p
{
    margin: 10px 25px 0 0;
}

#navigation_filtre
{
    display: flex;
}

#navigation_filtre div
{
    display: flex;
    align-items: center;
    margin: 10px 25px 0 0;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#navigation_filtre a:hover
{
    opacity: 0.5;
    color: #0065FC;
}

.filtre_icone
{
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 10px;
}

#filtre_icone_billet
{
    padding: 10px 8px;
}

#filtre_icone_familial
{
    padding: 10px 12px;
}

#animaux
{
    width: 175px;
}

#navigation_filtre a
{
    padding: 0 10px 0 10px;
}

#bloc_filtre p, #bloc_filtre a
{
    font-weight: bold;
}

/*--------------------------------------*/

/*Gestion bloc section et aside general*/

#flex_section-aside
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#flex_section-aside h2
{
    margin: 30px 0 10px 25px;
}

.shadow
{
    box-shadow: 5px 5px 25px #d8d4d4;
}

figure
{
    margin: 0;
}

/*Section hébergements*/

#section_hebergements
{
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 25px;
    width: 70%;
}

#bloc_hebergements_img
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#bloc_hebergements_img div
{
    margin: 10px;
    padding: 5px;
    width: 28%;
    background-color: white;
    border-radius: 10px;
}

.figure_hebergement
{
    background-color: white;
    border-radius: 10px;
}

.img_bloc_hebergement
{
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.ratings_fullstar
{
    color: #0065FC;
}

.ratings_emptystar
{
    color: #F2F2F2;
}

.bloc_legende_hebergements
{
    padding: 0 5px;
}

.bloc_legende_hebergements h3, .bloc_legende_hebergements p, .bloc_legende_hebergements i
{
    margin: 5px 0;
}

#afficher_plus
{
    font-weight: bold;
    margin: 15px 0 25px 25px;
}

/*--------------------------------------*/

/*Aside populaires*/

#aside_populaires
{
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 20px;
    width: 30%;
}

#bloc_title_populaires_img
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bloc_title_populaires_img i
{
    margin: 30px 25px 10px 0;
}

#bloc_populaires_img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure_populaires
{
    background-color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 85%;
    height: 30%;
}

.flex_img_figcaption_populaires
{
    display: flex;
}

.img_bloc_populaires
{
    width: 35%;
    height: 120px;
    border-radius: 10px 0 0 10px;
}

.bloc_legende_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    width: 60%;
}

.bloc_legende_populaires h3, .bloc_legende_populaires p
{
    margin: 5px 0;
}

/*--------------------------------------*/

/*Section activités*/

#section_activites
{
    margin-bottom: 50px;
    margin-top: 30px;
}

#section_activites h2
{
    margin-bottom: 0;
}

#bloc_activites_img
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.bloc_duo
{
    display: flex;
    flex-direction: column;
}

.figure_activites
{
    border-radius: 10px;
}

.img_up_duo
{
    margin-bottom: 30px;
}

.img_activites_solo
{
    height: 350px;
}

.all_img_activites
{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#pomegues
{
    height: 175px;
}

#frioul
{
    height: 110px;   
}

#garde
{
    height: 120px;
}

#longchamp
{
    height: 165px;
}

.bloc_legende_activites
{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.width_bloc
{
    width: 23%;
}

/*--------------------------------------*/

/*Footer*/

footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding: 20px 0;
}

.nav_footer
{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 50px;
}

.nav_footer p, .nav_footer h4
{
    margin: 5px 0;
}

@media all and (min-width: 1640px)
{
    #bloc_page
    {
        margin: 0 20% 0 20%;/*modifié 0 40px 0 40px -> 0 20% 0 20%*/
    }

    footer
    {
        justify-content: center;/*modifié flex-start -> center*/
    }

    .nav_footer
    {
        width: 20%;/*modifié 35% -> 20%*/
        margin-left: 0px;/*modifié 50px -> 0px*/
    }
}

@media all and (max-width: 920px)/*-----------------------------*/
{
    /*------------------------------------------------*/
    /*Gestion bloc section et aside general*/

    #flex_section-aside
    {
        flex-direction: column;/*ajouté*/
        justify-content: flex-start;/*modifié space-between -> flex-start(par défaut)*/
    }

    /*------------------------------------------------*/
    /*Aside populaires*/

    #aside_populaires
    {
        order: -1;/*ajouté*/
        width: 100%;/*modifié 30% -> 100%*/
    }

    #bloc_populaires_img
    {
        flex-direction: row;/*modifié column -> row*/
    }

    .figure_populaires
    {
        width: 29%;/*modifié 85% -> 29%~30%*/
    }

    /*-------------------------------------------------*/
    /*Section hébergements*/

    #section_hebergements
    {
        width: 100%;/*modifié 70% -> 100%*/
    }
}

@media all and (max-width: 768px)/*-----------------------------*/
{
    /*------------------------------------------------*/
    /*Navigation filtre*/

    #navigation_filtre
    {
        flex-wrap: wrap;/*ajouté*/
    }

    /*--------------------------------------*/
    /*Section activités*/

    #bloc_activites_img
    {
        flex-wrap: wrap;/*ajouté*/
    }

    #bloc_1_activites
    {
        order: 1;/*ajouté*/
        margin-bottom: 10px;/*ajouté*/
    }

    #bloc_2_activites
    {
        order: 2;/*ajouté*/
        margin-bottom: 10px;/*ajouté*/
    }

    #bloc_3_activites
    {
        order: 4;/*ajouté*/
    }

    #bloc_4_activites
    {
        order: 3;/*ajouté*/
    }

    .width_bloc
    {
        width: 48%;/*modifié 23% -> 48~50%*/
    }
}

@media all and (max-width: 642px)/*-----------------------------*/
{
    /*Nav header position*/

    header
    {
        flex-wrap: wrap;/*ajouté*/
    }

    #header_p_logo
    {
        width: 100%;/*ajouté*/
    }

    #bloc_nav_inscription
    {
        width: 100%;/*ajouté*/
    }

    header nav
    {
        width: 66%;/*ajouté*/
    }

    header li 
    {
        width: 50%;/*ajouté*/
        display: flex;/*ajouté*/
        justify-content: center;/*ajouté*/
    }

    .main_nav
    {
        margin-right: 0;/*modifié 15 -> 0*/
        padding: 0 10px 20px 10px;/*modifié 25 25 0 20 -> 0 20 20 20*/
    }

    .main_nav:hover
    {
        border-top: none;/*modifié none*/
        border-bottom: solid 2px #0065FC;/*ajouté*/
    }

    #header_p_inscription
    {
        width: 33%;/*ajouté*/
        text-align: center;/*ajouté*/
        padding-bottom: 20px;/*ajouté*/
    }

    #inscription
    {
        padding-left: 0;/*modifié 30 -> 0*/
        margin-right: 0;/*modifié 10 -> 0*/
        padding: 0 10px 0 10px;/*ajouté*/
    }

    /*-----------------------------------------------*/

    /*-----------------------------------------------*/
    /*Section Recherche Filtres*/

    #recherche_filtres
    {
        margin-top: 30px;
    }

    /*------------------------------------------------*/
    /*Aside populaires*/

    .flex_img_figcaption_populaires
    {
        flex-direction: column;/*modifié row -> column*/
    }

    .img_bloc_populaires
    {
        width: 100%;/*modifié 35% -> 100%*/
        border-radius: 10px 10px 0 0;/*modifié*/
    }

    .bloc_legende_populaires
    {
        height: 85px;/*ajouté*/
        width: auto;/*modifié 60% -> auto (defaut)*/
    }

    /*------------------------------------------------*/
    /*Section hébergements*/

    #bloc_hebergements_img div
    {
        width: 38%;/*modifié 28% -> 38%*/
    }
}

@media all and (max-width: 500px)
{
    /*-----------------------------------------------*/

    /*Modification des marges en vu de la version mobile*/

    #bloc_page
    {
        margin: 0;
    }

    header
    {
        margin: 10px 20px 0px 20px;
    }

    #recherche_filtres
    {
        margin: 30px 20px 0 20px;
    }

    #aside_populaires, #section_hebergements
    {
        margin-top: 20px;
    }

    #flex_section-aside
    {
        margin: 0;
    }

    #section_activites
    {
        margin: 30px 10px 50px 10px;/*ajouté marge gauche et droite 10px*/
    }

    #flex_section-aside h2
    {
        margin: 30px 0 10px 10px;/*modifié marge gauche 25px -> 10px*/
    }

    #afficher_plus
    {
        margin: 15px 0 25px 10px;/*modifié marge gauche 25px -> 10px*/
    }

    /*---------------------------------------------------*/
    /*Aside populaires*/

    .figure_populaires
    {
        margin: 1%;/*modifié 10px -> 1%*/
    }

    .bloc_legende_populaires
    {
        height: 100px;/*modifié 85px -> 100px*/
    }

    #bloc_title_populaires_img i
    {
        margin: 30px 10px 10px 0;/*25px droite -> 10px*/
    }

    /*---------------------------------------------------*/
    /*Footer*/

    footer
    {
        justify-content: space-around;/*modifié flex-start -> space around*/
    }

    .nav_footer
    {
        display: flex;
        flex-direction: column;
        width: auto;/*modifié 35% -> auto*/
        margin-left: 0px;/*modifié 50px -> 0px*/
    }
}

@media all and (max-width: 376px)
{
    /*Nav position absolue a 375px-------------------------*/

    header
    {
        position: relative;/*ajouté*/
        margin-bottom: 70px;/*ajouté*/
        flex-wrap: nowrap;/*modifié wrap -> nowrap*/
    }

    #header_p_logo
    {
        width: auto;/*modifié 100% -> auto*/
    }

    #bloc_nav_inscription
    {
        width: auto;/*modifié 100% -> auto*/
    }

    header nav
    {
        position: absolute;/*ajouté*/
        top: 50px;/*ajouté*/
        left: -20px;/*ajouté*/
        width: 375px;/*modifié 66% -> 375px*/
    }

    header li
    {
        width: 187.5px;/*modifié 50% -> 187.5px*/
    }

    .main_nav
    {
        margin: 0;/*modifié margin-right 15px -> 0*/
        padding: 0 70px 10px 70px;/*modifié 0 10px 20px 10px -> 0 70px 10px 70px*/
    }

    #header_p_inscription
    {
        width: auto;/*modifié 33% -> auto*/
        text-align: center;/*ajouté*/
        padding-bottom: 0;/*modifié 20px -> 0*/
    }

    #inscription
    {
        padding-left: 0;/*modifié 30 -> 0*/
        margin-right: 0;/*modifié 10 -> 0*/
        padding: 0;/*modifié 0 10 0 10 -> 0*/
    }

    /*---------------------------------------------------*/
    /*Champ de recherche*/

    #bouton_rechercher
    {
        display: none;/*ajouté*/
    }

    #loupe_img
    {
        display: block;/*modifié none -> block*/
    }

    #champ_recherche
    {
        width: 100%;/*ajouté*/
    }

    /*------------------------------------------------*/
    /*Aside populaires*/

    #bloc_populaires_img
    {
        flex-wrap: wrap;/*ajoute*/
    } 

    .figure_populaires
    {
        width: 100%;/*modifié 29% -> 100%*/
        margin: 10px;/*modifié 1% -> 10px*/
    }

    .flex_img_figcaption_populaires
    {
        flex-direction: row;/*modifié column -> row*/
    }

    .img_bloc_populaires
    {
        width: 35%;/*modifié 100% -> 35%*/
        border-radius: 10px 0 0 10px;/*modifié*/
    }

    .bloc_legende_populaires
    {
        height: auto;/*modifié 80px -> auto*/
    }

    /*------------------------------------------------*/
    /*Section hébergements*/  

    #section_hebergements
    {
        background-color: white;/*modifié #F2F2F2 -> white*/
    }

    #bloc_hebergements_img div
    {
        width: 100%;/*modifié 38% -> 100%*/
    }

    .img_bloc_hebergement
    {
        height: 150px;/*modifié 100px -> 150px*/
    }

    /*--------------------------------------*/
    /*Section activités*/

    #bloc_activites_img
    {
        flex-wrap: nowrap;/*modifié wrap -> nowrap*/
        flex-direction: column;/*ajouté*/
    }

    .figure_activites
    {
        width: 100%;/*ajouté*/
    }

    .bloc_duo
    {
        flex-direction: column;/*ajouté*/
        width: 100%;/*ajouté*/
    }

    .img_up_duo
    {
        margin-bottom: 10px;/*modifié 30px -> 10px*/
    }

    #bloc_3_activites
    {
        order: 3;/*modifié 4 -> 3*/
        margin-bottom: 10px;/*ajouté*/
    }

    #bloc_4_activites
    {
        order: 4;/*modifié 3 -> 4*/
    }

    .all_img_activites, #pomegues, #frioul, #garde, #longchamp
    {
        height: 150px;/*modifié*/
    }

    /*--------------------------------------------------*/
    /*Footer*/

    footer
    {
        flex-direction: column;/*ajouté*/
        justify-content: flex-start;/*modifié space-around -> flex-start*/
    }

    .nav_footer
    {
        width: auto;/*modifié 35% -> auto*/
        margin-left: 10px;/*modifié 50px -> 10px*/
        margin-bottom: 20px;/*ajouté*/
    }

    .nav_footer a
    {
        font-size: 12.8px;
    }
}